html {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
}

h2 {
  font-size: 50px;
  font-family: "Bubblegum Sans", serif;
  letter-spacing: 3px;
}

.infoText,
.goals_container,
.visionText,
.missionText,
.stats-content p {
  font-size: 23px;
  font-family: "roboto", serif;
}

.banner {
  width: 100%;
  opacity: 100%;
  background-color: #196b24;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  z-index: 100;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.banner.scrolled {
  top: 20px;
  width: 70%;
  background-color: rgba(25, 107, 36, 0.8);
  margin-left: 12.6%;
  border-radius: 10px;
  gap: 30px;
  position: fixed;
}

.link-group {
  display: flex;
  gap: 50px;
  margin-right: 100px;
}

.bannerp {
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner a {
  text-decoration: none;
}

.bannerp:hover {
  color: #21e47f;
  transition: 0.3s;
}

.bannerp:active {
  color: #bbb4b4;
  opacity: 80%;
}

.menu-icon {
  display: none;
  width: 50px;
  margin-right: 50px;
}

.logo-image {
  margin-left: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: darkblue;
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
  }
  .link-group {
    display: none;
  }
  .banner {
    height: 50px;
    width: 95%;
  }
  .logo-image {
    width: 65px;
    height: 65px;
    margin-left: 25px;
  }
  .banner.full {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 100%;
    flex-direction: column;
    margin-left: 0%;
    border-radius: 0;
  }
  .link-group.full {
    display: block;
    font-size: 30px;
    border-bottom: 2px solid black;
  }
}

.title {
  position: relative;
  margin: 0;
}

#title_image {
  width: 100%;
  height: auto;
  position: relative;
  clip-path: polygon(
    50% 0%,
    100% 0,
    100% 80%,
    70% 80%,
    50% 90%,
    30% 80%,
    0 80%,
    0 0
  );
}

.title h1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: green;
  font-size: 4rem;
  font-family: "Oswald", serif;
  width: 100%;
}

@media (max-width: 600px) {
  #title-button {
    display: none;
  }
  .title h1 {
    font-size: 2rem;
    top: 40%;
    color: black;
  }
  .color-text {
    color: white;
  }
}

@media (min-width: 601px) and (max-width: 1150px) {
  .title h1 {
    font-size: 3rem;
    top: 40%;
    color: black;
  }
  .color-text {
    color: white;
  }
}

#title-button {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14rem;
  padding: 1.1rem 2rem 1.1rem 1.5rem;
  transition: all 0.8s ease;
}

.info {
  margin-top: -20px;
  padding-right: 100px;
  padding-left: 100px;
}


.info img {
  border-radius: 10px;
  max-width: 90%;
  transition: all 0.3s ease;
}

.info img:hover {
  transform: scale(1.1);
}

.infoText {
  margin-top: -25px;
}

.infoText p {
  font-size: 20px;
}

.infoText .underliner {
  width: 220px;
  position: relative;
  top: 115px;
  fill: #156082;
}

@media (min-width: 40rem) {
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info img {
    width: 40%;
  }
  .infoText {
    padding-left: 50px;
  }
  .infoText p {
    font-size: 23px;
  }
}

.goals_container {
  background-color: #5a91aa;
  margin-top: 75px;
  padding: 50px;
  clip-path: polygon(50%0, 100% 5%, 100% 100%, 0 100%, 0 5%);
}

@media (max-width: 600px) {
  .goals_container {
    background-color: green;
  }
}

.sustaininfo {
  width: 70%;
  background-color: #156082;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 #3c7996, 0 6px 20px 0 #3c7996;
  color: white;
}

.goals {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.frame {
  width: 184px;
  height: 184px;
  perspective: 250px;
}

.shape {
  width: 184px;
  height: 184px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  border-radius: 10px;
}

.frame:hover .shape {
  transform: rotateY(180deg);
}

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.back {
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

.back h4 {
  font-size: 16px;
}

.back p {
  font-size: 15px;
}


.goals_container {
  overflow-x: visible;
}
.vision {
  display: flex;
  padding-right: 100px;
  padding-left: 100px;
  background-color: #f7f7f7;
}

.vision img {
  width: 25%;
}

.vision svg {
  width: 230px;
  position: relative;
  top: 115px;
  fill: #156082;
}

.mission {
  display: flex;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 50px;
  background-color: #f7f7f7;
}

.mission img {
  width: 20%;
  margin-left: 1%;
}

.mission svg {
  width: 230px;
  position: relative;
  top: 115px;
  fill: #156082;
}

.missionText {
  margin-left: 4%;
}

@media (max-width: 800px) {
  .vision img {
    display: none;
  }
  .mission img {
    display: none;
  }
}

.stats {
  display: flex;
  width: 100%;
  max-height: auto;
  flex-direction: column;
  color: white;
  position: relative;
  justify-content: center;
  align-items: center;
  opacity: 0.91;
  background-image: url("electric.jpg");
  background-size: cover;
}

.background-overlay {
  background-color: #5a91aa;
  opacity: 0.91;
  transition: all 0.3s, border-radius 0.3s, opacity 0.3s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.stats-content {
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  font-family: "Bubblegum Sans", serif;
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 150px;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}

.stat-column {
  display: flex;
  flex-direction: column;
  gap: -50px;
}

.stat-column h3 {
  font-size: 50px;
  margin-bottom: 5px;
}

.numbers {
  text-decoration: underline;
  color: #272626;
}

@media (max-width: 600px) {
  .stats-container {
    flex-direction: column;
  }
}

.testimonials {
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.testimonials h2 {
  text-align: center;
}

.gray-color {
  color: black;
}

@media (max-width: 600px) {
  .testimonials svg {
    display: none;
  }
}

.testimonials-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 40%;
  margin-bottom: 50px;
}

.testimonial svg {
  position: absolute;
  fill: #e2e8f0cc;
  top: 1.5rem;
  left: 1.5rem;
  align-self: flex-start;
}

.testimonial blockquote {
  z-index: 1;
  font-size: 1.125rem;
  font-family: Outfit;
  line-height: 1.75rem;
  margin-left: -1px;
}

figcaption {
  border-top: 1px solid rgb(241 245 249);
  text-decoration: none;
  display: flex;
  padding-top: 10px;
}

.caption-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: left;
}

figcaption .caption-name {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: Outfit;
}

figcaption .caption-title {
  font-family: Outfit;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.caption-image {
  justify-content: right;
  width: 50px;
  height: auto;
}

@media (max-width: 600px) {
  .testimonials-content {
    flex-direction: column;
  }
  .testimonial {
    width: 60%;
  }
  .quote-1 {
    margin-left: 40px;
  }
}

.action-call {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  color: white;
  position: relative;
  justify-content: center;
  align-items: center;
}

.covered-image {
  background-image: url(8e893739b56490f071506c5da01691fb.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.color-overlay {
  background-color: #5a91aa;
  opacity: 0.65;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.action-content {
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  font-family: "Bubblegum Sans", serif;
  padding-top: 40px;
  z-index: 1;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);  
}

.action-content h2 {
  font-family: "Bubblegum Sans", serif;
}

.action-buttons {
  display: flex;
  gap: 50px;
  position: relative;
  z-index: 2;
}

.text-container p{
  font-size: 25px;
  text-align: center;
  font-family: "Monsterrat", serif;
  margin-right: 200px;
  margin-left: 200px;
}

#tohub-button {
  width: 195px;
}

#tocalc-button {
  width: 195px;
}

@media (max-width: 600px) {
  .action-buttons {
    flex-direction: column;
    gap: 20px;
  }
  .action-content h2 {
    font-size: 30px;
  }
  .text-container p {
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
  }
}

.footer {
  background-color: #5a91aa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 175px;
  width: 101%;
  margin-left: -1%;
}

.footer a {
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer p {
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer a:hover {
  color: #0f63a3;
  transition: 0.3s;
  text-decoration: underline;
}

.developed-by {
  display: flex;
  flex-direction: column;
  margin-left: 400px;
}

.top-icon {
  margin-left: 50px;
}

@media (min-width: 601px) and (max-width: 950px) {
  .developed-by {
    margin-left: 200px;
  }
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    height:auto;
    padding-top: 50px;
    gap: 30px;
  }
  .developed-by, .top-icon {
    margin-left: -35px;
  }
}

@media (max-width: 450px) {
  .underliner {
    display: none;
  }
}


/*About Us*/

.about-container {
  margin-top: -300px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 100px;
}

.container {
  padding-left: 100px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.profile-img img {
  width: 300px;
  border-radius: 1000px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  margin-right: 300px;
  gap: 20px;
}

.profile-headline svg {
  fill: #156082;
  margin-top: -50px;
}

.profile-headline {
  width: 220px;
  display: flex;
  flex-direction: column;
}

.profile-content p {
  font-size: 20px;
  font-family: "Monsterrat", serif;
}

#title_image_about {
  width: 100%;
  height: auto;
  position: relative;
  clip-path: polygon(
    50% 0%,
    100% 0,
    100% 50%,
    0 50%,
    0 0
  );
}

.anchor {
  display: block;
  position: relative;
  top: -500px;
  visibility: hidden;
}

.small-anchor {
  display: block;
  position: relative;
  top: -200px;
  visibility: hidden;
}

@media (max-width: 600px) {
  .about-container {
    margin-top: -50px;
  }
  .container {
    padding-left: 10px;
    flex-direction: column;
  }
  .profile-content {
    margin-right: 10px;
    gap: 5px;
  }
  #title_image_about {
    clip-path: polygon(
      50% 0%,
      100% 0,
      100% 80%,
      0 80%,
      0 0
    );
  }
}


/*Volunteer Hub*/

.volunteertitle {
  margin-top: 130px;
  color: white;
  font-size: 40px;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5), 
    0px 0px 25px rgba(0, 0, 0, 0.3), 
    0px 0px 40px rgba(0, 0, 0, 0.4),
    0rem 0rem 1.5rem rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content {
  padding: 20px;
  text-align: center;
}
.events-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.event-box {
  width: 300px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.event-box h3 {
  margin-top: 0;
  color: #333;
}
.event-box p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}
.event-box button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}
.event-box button:hover {
  background-color: #45a049;
}
.create-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.create-button:hover {
  background-color: #0056b3;
}
#event-form-container {
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
#event-form-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#event-form-container h2 {
  font-size: 50px;
  margin-bottom: 0px;
}

#overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; 
}

.green-box-p {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 50%;
  background-color: green;
  border-radius: 30px;
  padding: 20px;
  opacity: 80%;
}

@media (min-width: 601px) {
  .background-trees {
    background-image: url("8e893739b56490f071506c5da01691fb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}


@media (max-width: 600px) {
  body {
    background-image: url();
    background-color: white;
  }
  .volunteertitle {
    text-shadow: none;
    color: black;
  }
  .green-box-p {
    width: 75%;
  }
  #event-form-container h2 {
    font-size: 25px;
  }
}

/*Button Styling*/

.teal-button {
  display: flex;
  padding: 1.1rem 2rem 1.1rem 1.5rem;
  width: 11rem;
  border-radius: 99rem;
  background-color: #156082;
  transition: all 0.5s ease;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 23px;
  font-family: "roboto", serif;
  color: #e6e6e6;
  text-decoration: none;
}

.teal-button .icon {
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.teal-button .icon span {
  background: black;
  border-radius: 100%;
  padding: 0rem;

  width: 0rem;
  height: 0rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transform: rotate(-180deg);

  transition: all 0.5s ease;
}

.teal-button:hover {
  background-color: #0c4864;
  color: white;
  box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 18px 20px 0 rgba(0, 0, 0, 0.19);
}

.teal-button:hover .icon span {
  transform: rotate(0deg);

  border-radius: 100%;
  padding: 0.6rem;
  width: 0.9rem;
  height: 0.9rem;
}
